body{
    width: 800px;
    margin: 0px auto auto auto;
    background-color: #f7eed6;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.header {
  position: fixed;
  top: 0;
  display: block;
  width: 800px;
  background-color: #ddd
}
.container {
  margin-top: 30px;
}
.nav {

  height:30px;
  vertical-align: middle;

}
.nav a{
  display: block;
  font-size: 16px;
  padding-top: 6px;
}

.list-item-box{
    padding-left: 30px;
    border: 1px solid #D3DCE6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);
}
.list-item{
    border-bottom: 1px dashed #e1e1e1;
    font-weight:normal;
    font-size: 18px;
    height: 40px;
    line-height: 40px;

}
.list-item-a{
    color:  #5e6d82;
    display: block;
    font-weight:normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
